################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/javascriptLibStudy/bin
/packages
/javascriptLibStudy/obj/Debug/javascriptLibStudy.dll
*.pdb
*.cache
